In [1]:
#load the required libraries
import pandas as pd
import datetime
import numpy as np
import scipy 
import sklearn
from matplotlib import pyplot as plt
import statsmodels.api as sm
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6

#reading the csv file
bbazar = pd.read_excel('bigbazar_dataset.xlsx')

ts_data = bbazar[['transactionDate','sale_price_after_promo']]

In [2]:
ts_data['Year'] = pd.DatetimeIndex(ts_data['transactionDate']).year
ts_data['Month'] = pd.DatetimeIndex(ts_data['transactionDate']).month

C:\Users\ali\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ali\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
ts_data.head(5)

  transactionDate  sale_price_after_promo
0      2016-05-01                   55.00
1      2017-03-09                   30.00
2      2015-08-12                  418.95
3      2016-12-18                   70.00
4      2015-12-31                   34.20

In [3]:
y = ts_data.resample('AS', on='transactionDate')['sale_price_after_promo'].agg('sum')

In [5]:
print(ts_data.index)

RangeIndex(start=0, stop=11972, step=1)

In [7]:
print(ts_data.dtypes)

transactionDate           datetime64[ns]
sale_price_after_promo           float64
dtype: object

## Grouping all the days in a month for a respective year

In [26]:
per = ts_data.transactionDate.dt.to_period('M')
g = ts_data.groupby(per)
final = g.sum().reset_index()
#final.head(26)

In [27]:
final01 = pd.Series(pd.DatetimeIndex(start=final.s, end=final.end_time, freq='D')).to_frame('transactionDate')

AttributeError: 'DataFrame' object has no attribute 'start_time'

In [24]:
print(final.dtypes)
#Since the data type of TransactionDate is object, we need to convert it into DateTime format
final['transactionDate'] = pd.to_datetime(final['transactionDate'])

transactionDate            object
sale_price_after_promo    float64
dtype: object

TypeError: <class 'pandas._libs.tslibs.period.Period'> is not convertible to datetime

In [22]:
#p = ts_data.groupby(['Year','Month']).agg({'sale_price_after_promo' : 'sum'})

In [39]:
new_sales_column = p[['sale_price_after_promo']]

In [45]:
p = pd.to_numeric(p['sale_price_after_promo'], errors='coerce')

In [51]:
new_sales_column.tail()

            sale_price_after_promo
Year Month
2017 2                    59542.83
     3                    80528.81
     4                   111708.32
     5                   115645.51
     6                   109521.19

In [56]:
# SARIMA example
from statsmodels.tsa.statespace.sarimax import SARIMAX
from random import random
# contrived dataset
# fit model
model = SARIMAX(p, order=(1, 1, 1), seasonal_order=(1, 1, 1, 1))
model_fit = model.fit(disp=False)
# make prediction
yhat = model_fit.predict(len(p), len(p))
print(yhat)

26    116321.136754
dtype: float64

C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:221: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:531: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

In [28]:
from random import random
data = [x + random() for x in range(1, 30)]

In [31]:
#data

In [50]:
from statsmodels.tsa.ar_model import AR
# fit model
model = AR(p)
model_fit = model.fit()
# make prediction
yhat = model_fit.predict(len(p), len(p))
print(yhat)

26    106604.345326
dtype: float64

C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:221: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:531: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

In [32]:
# MA example
from statsmodels.tsa.arima_model import ARMA

In [52]:
# fit model
model = ARMA(p, order=(0, 1))
model_fit = model.fit(disp=False)
# make prediction
yhat = model_fit.predict(len(p), len(p))
print(yhat)

26    79283.859548
dtype: float64

C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:221: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
C:\Users\ali\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:531: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

In [ ]:
from pandas import series
from matplotlib import pyplot
from statsmodel.tsa.ar_model import AR
from sklearn